<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fhp.usercenter.mapper.UserMapper">

    <select id="getAllUser" resultType="user">
      select * from user
    </select>

    <select id="getUserById" parameterType="int" resultType="user">
        select * from user where id = #{id}
    </select>

    <insert id="insertUser" parameterType="user">
        insert into user(id,username,password,address,birthday) values (#{id},#{username},#{password},#{address},#{birthday})
    </insert>

    <delete id="deleteUserByName" parameterType="String">
        delete from user where username = #{name}
    </delete>

</mapper>